DJANGO_SECRET_KEY=django-insecure-!%r8^o!(mu4sxjl=^bu9#h_9w78g7chd957mxdgd*7ps6!zkqk
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
# PostgreSQL - Docker ia-postgres en 5433
DATABASE_URL=postgres://sadama_admin:Sadama2026@localhost:5433/sadama
# DBeaver: Host=localhost Puerto=5433 DB=sadama Usuario=sadama_admin Pass=Sadama2026
